 <%= form_tag root_path, :method => 'get' do %>
    
    
<header>
<%= submit_tag "SEARCH INSTAGRAM USERS AND HASHTAGS", class:"button expand" %>

</header>
<% if @user %> 


<h1>Hello <%= @user.name %> 

</h1>
<% end %>
<h3><%= link_to "Sign In", "/auth/instagram" %>
<%= link_to "Sign Out", signout_path %></h3>






  <div class="large-3 columns">
      <label>current users news feed...</label>
 <div class="gram">
<div>

<% if @feed.present? %>

<% @feed.each do |feed| %>

<%= image_tag feed.images.standard_resolution.url, class: "picture" %>

<% end %>
<% end %>


</div>
</div>

      <div class ="gram">


   <% if @user_name.present? %>
<!--    <h1><%=@user_name_Name%></h1>
 -->
	<%@user_name.each do |u|%>

	<%=image_tag u.images.standard_resolution.url, class: "picture"%>

	<% end %>
	<% end %>

</div>


    </div>




<div class="large-3 columns">
      <label>Search @username
<%= text_field_tag :keyword, params[:keyword] %>
      </label>
      <div class ="gram">

   <% if @user_name2.present? %>



	<% @user_name2.each do |u| %>

	<%=image_tag u.images.standard_resolution.url, class: "picture"%>

	<% end %>
	<% end %>

</div>
    </div>


    <div class="large-3 columns">
      <label>Search #hashtag
<%= text_field_tag :hashword, params[:hashword] %>
      </label>

      <div class ="gram">

   <% if @tags.present? %>

<!--    <h1><#%= params[:hashword] %></h1>
 -->
  <% @tags.each do |tags| %>

  <%= image_tag tags.images.standard_resolution.url, class: "picture" %>

  <% end %>
  <% end %>

</div>


</div>








<!--    <div class="row">
 -->    <div class="large-3 columns">

 

    drag and drop photos here...


</div>




<!--    <div class="row">
 -->   



<% end %>








