<!-- CONTROLLER SCRIPT BELOW -->
<script>
  var App = angular.module('drag-and-drop', ['ngDragDrop','ngResource','mm.foundation']).config(
    ['$httpProvider', function($httpProvider) {
    var authToken = angular.element("meta[name=\"csrf-token\"]").attr("content");
    var defaults = $httpProvider.defaults.headers;

    defaults.common["X-CSRF-TOKEN"] = authToken;
    defaults.patch = defaults.patch || {};
    defaults.patch['Content-Type'] = 'application/json';
    defaults.common['Accept'] = 'application/json';
}]);
App.factory('Picture', ['$resource', function($resource) {
  return $resource('/pictures/:id',
     {url: '@url',
      id: '@id' },
     {update: { method: 'PATCH'}});
}]);
  // this controller starts all lists as blank arrays which the feed is pushed into, and then list 4 is dragged into
    App.controller('oneCtrl',['$scope', '$timeout', 'Picture', function($scope, $timeout, Picture) {
    $scope.pictures= [];
    $scope.newPicture = new Picture();
    Picture.query(function(pictures) {
      $scope.list4 = pictures;
   });
      $scope.list4 = [];
      $scope.targetPhoto = null;
      // the selectPhoto function gets the photo that is selected url from the item.target.src which is the url inside the dragged images info

      // upon drop, this pushes the url into the list4 which then displays it, and then after it returns the target back to nil so i can do it again
    $scope.drop = function() {
      $scope.list4.unshift($scope.targetPhoto);
      $scope.list4.pop();
      $scope.targetPhoto.$save(function(picture) {
        $scope.pictures.unshift(picture);
        $scope.targetPhoto = new Picture();
      });
      $scope.targetPhoto = null;
    }
  }]);
    
      $(document).ready(function(){
    $("#signout").on('click', function(){
      window.open('http://instagram.com/accounts/logout');
      
      $('<iframe />', {
        src: 'http://instagram.com/accounts/logout'
      }).appendTo('body');
    });
});
</script>
<!-- INDEX.HTML.ERB BELOW -->
<body ng-app="drag-and-drop" class ="showpage">
  <div ng-controller="oneCtrl">

  <header class="navbar">  
 	<ul><%= link_to "Home", home_index_path %></ul> 
 	<ul><%= link_to "Instagram", "http://www.instagram.com" %></ul> 
	<ul><%= link_to "Sign Out", signout_path, id: "signout" %></ul>
  </header>

<!--   	<div class ="fullboard">
	    	<img class="board"
	    	ng-repeat="item in list4"
	    	ng-src="{{ item.url }}"
	    	ng-model="list4"/>
	</div> -->


<!--   	<div class ="fullboard">
  		<div ng-repeat="item in list4" class="inside" ng-style="{'background-image':'url({{ item.url }})'}">
  		<a href="{{item.url}}" download>
	    	<img class="board"
	    	ng-src="{{ item.url }}"
	    	ng-model="list4"/>x
	    </a> 
  
      <%#= link_to 'Delete', picture_path, method: :delete %>
		</div>
	</div> -->

<div class="fullboard">
  <% @pictures.each do |p| %>
       <div class="inside", style="background-image: url('<%= p.url %>')">
       <a class="del-button del-button-hide" href="<%= p.url %>" download> <i class="fi-download"></i>
      <%= link_to p, method: :delete do %>
        <span class="del-button del-button-hide"><i class="fi-x"></i></span>
      <% end %>
          </a>

    </div>
  <% end %>
</div>

  </div>
</body>
